<strong>Olá, {{organizer}}!</strong>
<p style="color: blueviolet">Houve um novo cancelamento de inscrição em seu Meetup: {{title}} =(</p>
<p>
  <strong>Inscrito: {{subscriber}}<br /></strong>

  <br />
  <small>
    Favor adicionar uma vaga disponível ao evento.
  </small>
</p>
